
.simple-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px;
  padding-left: 80px;
}

.slider-wrapper {
  display: flex;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  flex-wrap: nowrap;
}

.slide {
  flex: 0 0 33.33%;
  transition: transform 0.1s ease-in-out;
}


.slide.active {
  opacity: 1;
}


.control-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}



/*Dan*/

.container-stiri {
  margin-top:100px;
  display:flex;
  width:100%;
  margin-bottom: 5%;
}

.container-stiri-slider {
  margin-top:100px;
  display:flex;
  width:97%;
  margin-left: 3%;

}



.coloanastanga {
  width:65%;
}

.coloanadreapta {
  border-radius: 5px;
  height:fit-content;
  margin-top: 0.5%;
  margin-right:2%;
  width:35%;
  background: #D9D9D9;
}
.calendarstire{
  margin-top: 0.5%;
  margin-bottom: 15%;
  display:flex;
  align-items: center;
  justify-content: center;
  height:7%;
  .stire-Dropdown {
    padding: 8px;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 200px;
    outline: none; 
    cursor: pointer;
    margin-bottom: 1%;
    background-color:#3F3F95;
    color: white;
    font-family: Electrolize;
    
    option {
      font-size: 20px;
    }
  }
}
.separator{
  display:flex;
  margin-top:10%
}
.carduri-lista-stiri{
  width:100%;
  margin:2%;
}

.vl {
  border-left: 1px solid black;
  height: 50px;
}
.data p{
  margin-top:-50%;
}


.separatorListaStiri{
  width:94%;
  background-color:black;
  height:2px;
  margin-left:3%;
  margin-right:3%;
  margin-top:-8%;
  margin-bottom:7%;
}


@media (max-width: 600px) {
  .stire {
    width: 90%;
  }

  .centered-image {
    max-width: 100%;
  }
}
