.informatiiJuc {
  text-align: center;

  h2 {
    font-size: 3em;
    color: #143e5a;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
    .nume{
      margin-left: 80px;
    }

    .prenume{
      margin-left: 20px;
    }

  }

  p {
    font-size: 1.5em;
    color: #0d3652;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .descriere-lunga {
    white-space: pre-line;
  }
}
