.imaginePrezentare {
  height: 590px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.despre_noi {
  margin: 50px;
  height: 100%;
  background: radial-gradient(circle, rgba(188, 215, 231, 1) 70%, rgba(188, 215, 231, 0) 97%);
  border-radius: 10x;

  .despre_text {
    padding: 40px;
    padding-top: 0px;
  }

  a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .link {
    float: right;
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
}

.clasamentPgHome {
  margin-bottom: 3%;
}

.noutati-container {

  .noutati {
    background: linear-gradient(270deg, #155885 45.23%, rgba(65, 45, 45, 0.00) 99.14%);
    margin: 50px;
  }

  .carduri {
    display: inline-flex;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

.sliderEchipa {
  margin-left: 50px;
  margin-right: 50px;
  height: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #155885;
  padding-bottom: 10px;

}

.jucatori {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #155885;
  color: #fff;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  height: 70px;
  position: relative;

  .titluJucatori {
    margin-left: 50%;
    background-color: #155885;
  }

  .dropdownEditie {
    position: absolute;
    right: 1%;
    top: 24%;

    select {
      padding: 4px;
      font-size: 15px;
      border: 1px solid #000000;
      border-radius: 15px;
      outline: none;
      cursor: pointer;
      text-align: center;


      &:hover {
        border-color: #000000;
      }

      &:focus {
        border-color: #000000;
      }
    }
  }
}

.containerSponsori {
  width: 96%;
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: 3%;
  text-align: center;
  border-radius: 50px;
  border: 3px solid rgb(124, 101, 101);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .titluSponsori {
    margin-top: 1%;
    order: -1;
  }
}

@media screen and (max-width: 1550px) {

  .imaginePrezentare {
    height: 450px;
    background-position: center calc(30% + 170px);
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1024px) {
  .imaginePrezentare {
    height: 330px;
    background-position: center calc(50% + 200px);
    background-repeat: no-repeat;
  }

  .carduri {
    max-width: 80%;
  }
}


@media screen and (max-width: 768px) {
  .imaginePrezentare {
    height: 280px;
    background-position: center calc(50% + 148px);
    background-repeat: no-repeat;
  }

  .carduri {
    max-width: 60%;
  }
}



@media screen and (max-width: 600px) {

  .imaginePrezentare {
    height: 250px;
    background-position: center calc(50% + 100px);
    background-repeat: no-repeat;
  }

  .carduri {
    max-width: 40%;
  }


  .jucatori {
    flex-direction: column;
    height: auto;
    padding-bottom: 3%;
    text-align: center;
    justify-content: center;
  }

  .titluJucatori {
    margin-left: 0;
    margin: 0 auto;
  }

  .dropdownEditie {
    left: 34%;
    margin-top: 5%;
  }
}