.meciuri {
  max-width: 100%;
  margin-left: 4%;

  .textClasament {
    margin-bottom: 1%;

    .textHClasament {
      font-family: Electrolize;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.6px;
    }

    .textPClasament {
      font-family: Electrolize;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 0.5;
    }
  }

  .containerClasament {
    max-width: 96%;
    width: 98%;
    height: 100%;
    background-color:  #155885;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 2%;
    padding-top: 20px;
    overflow-x: auto; /* Permitere scroll orizontal pentru container */

    .containerLiga {
      height: 80px;
      display: flex;
      justify-content: flex-start;
      background-color:   #2474aaab;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: -1%;

      .columnLiga {
        width: 2%;

        .ligaMasculin {
          margin-bottom: 10px;

          .imgLiga {
            width: 160px;
            height: 65px;
          }
        }
      }

      .columnLiga2 {
        text-align: left;
        margin-left: 10%;
        margin-top: 0.5%;
        color: aliceblue;
      }
    }

    .container-clasament {
      width: calc(100% - 4%); /* Scădere margine stânga */
      margin-left: 2%;
      overflow-x: auto; /* Permitere scroll orizontal pentru tabel */
      overflow-y: hidden;

      .tableTeam {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        background-color: rgb(255, 255, 255);
        margin-bottom: 5%;
        margin-top: 1%;

        .trTeam:nth-child(even) {
          background-color: #f9f9f9;
        }

        .trTeam:hover {
          background-color: #42a6e9ab;
        }

        .thTeam,
        .tdTeam {
          text-align: center;
          padding: 8px;
        }

        .thTeam {
          background-color: rgb(255, 255, 255);
          font-weight: bold;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .containerClasament {
        .containerLiga {
          .columnLiga {
            width: auto;
          }
        }
      }
    }
  }
}
